*{margin: 0; padding: 0; box-sizing: border-box;}
/* html{font-size: 62.5%;} */
body{background-color: rgb(214, 230, 245); font-family:sans-serif; }
.main{display:flex;  flex-direction: column;  align-items: center; padding: 50px 0px 100px 0px;}
.main-heading{font-weight: bold; font-size: 30px; text-transform: uppercase; border-bottom: 2px solid goldenrod; margin-bottom: 20px;}
@media (max-width: 800px) {
    .main-heading{font-size: 26px; margin-bottom: 15px;}
  }
  @media (max-width: 600px) {
    .main-heading{font-size: 24px; margin-bottom: 10px;}
  }